*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #020312;
    --text-color: #fff;
    --main-color: #5ce1e6;
    --second-color: grey;
    --other-color: #12141c;
    --h1-font: 4.2rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem
}

body {
    background-image: url(https://i.postimg.cc/fL69zkqz/wallpapersden-com-k-talking-to-the-moon-1367x769.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--text-color);
}

header {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 12px 16%;
    border-bottom: 1px solid transparent;
    transition: all .40 ease;
}

.logo img {
    width: 135px;
    height: auto;
}

ul {
    text-decoration: none;
}

.navbar {
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    padding: 10px 25px;
    margin: 0 2px;
    border-radius: 0.5rem;
    transition: all .40s ease;
    text-decoration: none;
}

.navbar a:hover {
    background: var(--main-color);
    color: var(--other-color);
}

#menu-icon {
    font-size: 36px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 30px 6% 30px;
}

.home-img img {
    z-index:111;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 60px;
    padding: 50px;
    overflow: hidden;
}

.home {
    background-color: var(--bg-color);
    padding: 22px 10%;
    margin: 40px 0;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
}

#home {
    margin-top: 0;
}


.home-text h1 {
    margin: 20px 0;
    font-size: var(--h1-font);
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: 2px;
}

.home-text h4 {
    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
}

.home-text h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3rem;
}

.btn {
    display: inline-block;
    padding: 14px 10px;
    border-radius: 0.5rem;
    font-size: 17px;
    font-weight: 500;
    background: var(--main-color);
    color: var(--other-color);
    border: 1px solid var(--main-color);
    transition: all .40s ease;
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.01) translateY(-5p);
    background: transparent;
    border: 1px solid var(--main-color);
    color: var(--text-color);
}

header.sticky {
    padding: 10px 16%;
    background: var(--bg-color);
    border-bottom: 1px solid #0e1630;
    transition: .3s;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    height: 130vh;
    padding: 0px 4%;
}

.about-text {
    background: rgba( 0, 12, 24, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 0, 12, 24, 0.18 );
}

.about-text h4 {
    margin: 10px 20px;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}

.about-text h2 {
    margin: 10px 20px;
    font-size: var(--h2-font);
}

.about-text p {
    margin: 10px 20px;
    color: var(--text-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 2rem;
}

.about-gri {
    margin: 10px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 3rem;
    font-size: 30px;
    font-weight: 600;
}

.about-in i {
    font-size: 40px;
}

.about-img img {
    z-index:111;
    top: 0;
    left: 0;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.cripts {
    width: 230px;
    height: 20px;
    margin-top: 10px;
    display: block;
    color: var(--text-color);
    font-size: var(--p-font);
    transition: all .40s ease;
    cursor: pointer;
}

.cripts:hover {
    transform: scale(1.01) translateY(-5px);
    color: var(--main-color);
}

.main-text{
    text-align:center;
    justify-content: center;
}

.main-text h2{
    margin: 10px 20px;
    font-size: var(--h2-font);
}

.main-text h4 {
    margin: 10px 20px;
    color: var(--main-color);
    font-size: 24px;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.row img {
    width: 100%;
    z-index: 111;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.row {
    padding: 25px;
    background: #12141c;
    border-radius: 0.5rem;
}

.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.row h3 {
    font-size: 15px;
}

.row h6 {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.row-icon i {
    font-size: 21px;
}

.hover-icon {
    height: 50px;
    width: 50px;
    background: #12141c;
    border-radius: 0.5rem;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: all .40s ease;
}

.hover-icon:hover {
    transform: scale(1.01) translateY(-5px);
    color: var(--other-color);
    background: var(--main-color);
}

.row-links {
    display: inline-flex;
    position: relative;
    margin: 15px;
    width: 42px;
    font-size: 2.5rem;
}

.row img:hover {
    transform: scale(1.01) translateY(-5px);
    cursor: pointer;
    transition: 300ms;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    height: 100vh;
}

.contact-text {
    background: rgba( 0, 12, 24, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 0, 12, 24, 0.18 );
}

.contact-text h4 {
    margin: 10px 20px;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2 {
    margin: 10px 20px;
    font-size: var(--h2-font);
}

.contact-text p {
    margin: 10px 20px;
    color: var(--text-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin: 10px 20px;
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list li a {
    display: block;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: var(--main-color);
}

.contact-icons i {
    height: 40px;
    width: 40px;
    background: #12141c;
    border-radius: 0.5rem;
    color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 10px 20px;
    transition: all .40s ease;
}

.contact-icons i:hover {
    transform: scale(1.01) translateY(-5px);
    color: var(--other-color);
    background: var(--main-color);
}

.contact-form form {
    position: relative;
}

.contact-form form input, 
form textarea {
    border: none;
    outline: none;
    width: 100%;
    padding: 18px;
    background: #12141c;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 110px;
}

.contact-form form .send {
    padding: 14px 10px;
    border-radius: 0.5rem;
    font-size: 20px;
    font-weight: 500;
    width: 190px;
    background: var(--other-color);
    color: var(--text-color);
    border: 1px solid var(--main-color);
    transition: all .40s ease;
    cursor: pointer;
}

.contact-form form .send:hover {
    transform: scale(1.01) translateY(-5p);
    background: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--other-color);
}

.footer p {
    text-align: center;
    padding: 15px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i {
    color: var(--other-color);
    background: var(--main-color);
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

@media (max-width: 1325px) {
    header {
        padding: 16px 3%;
    }
    header.sticky {
        padding: 8px 3%;
    }
    section {
        padding: 130px 3% 60px;
    }
}

@media (max-width: 970px) {
    :root {
        --h1-font: 4.2rem;
        --h2-font: 2.9;
        --p-font: 1rem;
    }

    section {
        padding: 30px 3% 30px;
    }

    .home {
        height: 70vh;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .about-img {
        text-align: center;
    }

    .contact {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 830px) {
    #menu-icon {
        display: block;
    }

    body {
        background-position: center;
    }
    
    .navbar {
        position: absolute;
        top: -600px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #12141c;
        text-align: left;
        transition: all .40s ease;
    }

    .navbar a {
        display: block;
        padding: 1rem;
        margin: 1rem;
    }

    .navbar.active {
        top: 100%;
    }

    :root {
        --h1-font: 3.5rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
    }
}